<plugin>
    <id>mailchimp</id>
    <name>MailChimp</name>
    <description>Provides integration with MailChimp</description>
    <version>0.0.3</version>
    <glfusionversion>1.4.0</glfusionversion>
    <phpversion>5.3.0</phpversion>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
    <requires>lglib</requires>
</plugin>
